@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .h1-center{
    text-align: center;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

  .butStl{
    background-color: #b50e14;
    color: #b50e14;
  }
  .pStyle {
    text-align: center;
   
    padding: 20px;
  }

  .aStl{
    color: #b50e14;
  }
}